@import url(m_style.css);
.l {
  float: left;
}
.r {
  float: right;
}
.cen {
  margin: 0 auto;
}
.header {
  height: 60px;
  line-height: 60px;
}
.header .navbar-brand {
  width: 100px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 100% auto;
}
.header .navbar-brand button {
  color: #c3924d;
}
.header .nav li a:hover {
  color: #c3924d;
}
.header .nav .active a {
  color: #c3924d;
}
.banner {
  margin-top: -7px;
}
